[mysqld]
default_authentication_plugin=mysql_native_password
performance_schema=on

# slow_query_log = 1
# log_slow_queries = 1
# slow_query_log_file = /var/log/mysql/slow2.log
# long_query_time = 1

slow-query-log = 1
slow-query-log-file = /var/log/mysql/slow.log
long_query_time = 1
log-queries-not-using-indexes
